.main-title {
    text-align: center;
    margin: 50px 0;
}

.date-card {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    font-size: 13px;
    border: 1px solid;
    padding: 4px;
    border-radius: 5px;
    color: black;
}