RewriteEngine On

RewriteRule ^admin/liste-des-articles$ /BDDPHP/public/admin/articles [L,QSA]

RewriteRule ^admin/liste-des-commentaires$ /BDDPHP/public/admin/comments [L,QSA]

RewriteRule ^admin/liste-des-contacts$ /BDDPHP/public/admin/contacts [L,QSA]

RewriteRule ^admin/liste-des-articles/edition/([0-9]*)$ /BDDPHP/public/admin/editArticle/$1 [L,QSA]

RewriteRule ^liste-des-articles$ /BDDPHP/public/articles [L,QSA]

RewriteRule ^articles/detail/([0-9]*)$ /BDDPHP/public/articles/show/$1 [L,QSA]

RewriteRule ^edouard-plantevin$ /BDDPHP/public/ [L,QSA]

RewriteRule ^([a-zA-Z0-9\-\_\/]*)$ index.php?p=$1
